@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "./mixins";
@import "../css/font-awesome-color-brand.css";
@import url("//use.fontawesome.com/releases/v5.8.1/css/all.css'");

$bg-dark: #2A2A2A;
$ft-light: #fff;

html { font-size: 1rem; 
min-width: auto;}

@media (min-width: 576px) {
    html { font-size: 1.25rem; }
}
@media (min-width: 768px) {
    html { font-size: 1.5rem; }
}
@media (min-width: 992px) {
    html { font-size: 1.75rem; }
}
@media (min-width: 1200px) {
    html { font-size: 2rem; }
}
button{
  color: #fff;
}
body{
  letter-spacing: 1.5px;
  font-family: Teko;
  p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  }
}
.card-body-alt{
  background-color: $bg-dark;
}
header{
    background-color: $bg-dark;
}
.cont-footer{
  background-color: $bg-dark;
  height:100%;
  width: 100%;
  min-width: 320px;
 
  

}
.i-size{
  @include fluid-type(320px, 1500px, 24px, 64px );
}
.navbar{
    background-color: $bg-dark;
    
 
}
.foot-text{
  color:  $ft-light;
}
.margin-footer{
  padding-left: 50px;
  padding-right: 50px;
}
.padding-middle{
  padding-top: 8%;
  padding-bottom: 5%;
}

.h2-size{
  @include fluid-type(320px, 1200px, 24px, 48px );
  @media (max-width:575px) {
    @include fluid-type(320px, 575px, 24px, 48px );
  }
  
}
.p-size{
  @include fluid-type(575px, 1200px, 16px, 32px );
  @media (max-width:575px) {
    @include fluid-type(320px, 575px, 16px, 32px );
  }
  
}
.p-size-foot{
  @include fluid-type(575px, 1200px, 16px, 24px );
  @media (max-width:575px) {
    @include fluid-type(320px, 575px, 16px, 24px );
  }
  
}
.padding-0{
    padding-right: 0;
    padding-left: 0;
}
.white-space{
  padding-top: 150px;
  padding-bottom: 150px;
}

.image{
    
    position: relative;
    
    -webkit-filter: brightness(70%);
    
    
}
.image-border{
  @include border-radius($card-inner-border-radius);
}

.text{
    position: absolute;
    bottom: 5%;
    left: 2%;
    padding-left: 2rem;    
    color: white;
    
}
.h3-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.img-size-row{
  
  min-width: 382px;
}
.h1-size{
  @include fluid-type(320px, 1200px, 48px, 76px );
}
.h3-size{
  @include fluid-type(320px, 1200px, 32px, 48px );
}
.card-padding{
  padding-left: 50px;
  
  padding-right: 0;
  @media(max-width: 991px){
    padding-left: 0px;
    padding-right: 0px;
  }
}


img:hover {
    -webkit-filter: brightness(30%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.tag{
    background-color: #D90156;  
    border-radius: 5px;
    padding: 0 20px 0 20px;
    color: white;
    margin: 0 10px 10px 0;
    height: 26px;
    text-decoration: none;   
    line-height: 26px;
    font-family: $font-family-monospace, $font-family-sans-serif;
    font-weight: 550;
}
.tag-pos{
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 1;
    
}

.tag:focus,
.tag:hover {
  background-color: FireBrick;
  color: White;
  text-decoration: none;  
  font-family: $font-family-monospace, $font-family-sans-serif;
}

.example-container {
    
    @include make-container();
  }
  
  .example-row {
    @include make-row();
  }
  
  .example-content-main {
    @include make-col-ready();
  
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }
  }
  
  .example-content-secondary {
    
    @include make-col-ready();
  
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }

  }
.card{
  border:none;
}
 .padding-card{
   padding-bottom: 50px;
 } 
 .h1-padding{
   padding-top: 200px;
   padding-bottom: 100px;
   
 }
 .margin-grid{
   padding-left: 50px;
   padding-right: 0;
   @media(max-width: 575px){
     padding-left: 0px;
     padding-right: 0px;
   }
  
 }
 .margin-header{
  margin-left: 50px;
  margin-right: 50px;
  
}
 .margin-grid2{
    margin-left: 25px;
 }   
.h-card-text{
  @include fluid-type(320px, 1200px, 18px, 32px );
}

.r-height{
  min-height: 100%;
  position: relative;
}
.hr-light{
  border: none;
  display: block;
  width:  240px;
  min-width:  auto;
  border-top: 1px solid #4D4C4C;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;

}
.hr-light::after{
  background: #4D4C4C;
  padding: 0 4px;
  
}

.hr-dark{
  border: none;
  display: block;
  width:  720px;
  min-width:  auto;
  border-top: 1px solid  rgb(49, 49, 49);
  color:  rgb(49, 49, 49);
  overflow: hidden;
  text-align: center;
  height: 5px;

}
.hr-dark::after{
  background: rgb(49, 49, 49);
  padding: 0 4px;
  
}
.c-center{
  margin: 0 auto;
  width: 80%;
}
.card-font{
  @include fluid-type(320px, 1200px, 16px, 24px );
}
.b-color{
  background-color: #D90156;
  border: none;
  box-shadow:#fff; 
}
.m-width{
  min-width: 250px;
}
.c-us{
  list-style-type: none;
}